# Technical and Fundamental analysis
**Team Project 1**  
*Date: 3/10/2025*  
*Presented by: MuQing Wen, Jingyu Hu*  



Step1: Each team needs to choose 1 company manually from each sector of S&P500.

Step2: Please choose 5 indicators for technical analysis and at least 7 indicators for fundamental analysis (Indicators from what we learned in class) from quarterly financial statements.

Step3: Please analyze one company in terms of fundamental and technical perspectives 
- Technical analysis: Daily based analysis
- Fundamental analysis: Quarterly based analysis
- Technical analysis and Fundamental analysis need to be interconnected in your analysis.
- January 2018 to December 2022 (Covid period) & January 2007 to December 2010 (Economic crisis)
 To begin with, please download the daily stock data and quarterly & annual financial statements. 

Your PPT includes 1) Technical analysis 2) Fundamental analysis 3) Corresponding economic events 4) Overview of the company and S&P500 sector overview etc. with 25-35 slides. Slides needs to be explained in 15-20 minutes with key points (not reading all sentences).  

Submission: 1) Python code (both code and its html file), 2) any imported data in the code, 3) all financial statements, and 4) PPT as a zip file (Filename format: TeamNUM_Firstname_Lastname_UID.zip ) Each team will give a presentation in the classroom on March 25th, 2025 (TUE).

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import datetime, timedelta
import os
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Fetch S&P 500 tickers from Wikipedia

In [3]:
import pandas as pd

print("Fetching S&P 500 tickers and GICS information from Wikipedia...")
# Read the table from Wikipedia
sp500_table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# Extract relevant columns
tickers = sp500_table['Symbol'].tolist()
gics_sectors = sp500_table[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry']]


print(f"Loaded {len(tickers)} S&P 500 tickers (expected ~503 as of early 2025).")

# Display the first few rows of the sector and sub-industry data
gics_sectors.head()

Fetching S&P 500 tickers and GICS information from Wikipedia...
Loaded 503 S&P 500 tickers (expected ~503 as of early 2025).

,Symbol,Security,GICS Sector,GICS Sub-Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services

In [4]:
# Compute counts of unique GICS Sectors and GICS Sub-Industries
sector_counts = sp500_table['GICS Sector'].value_counts().reset_index()
sector_counts.columns = ['GICS Sector', 'Count']

sector_counts

               GICS Sector  Count
0              Industrials     78
1               Financials     73
2   Information Technology     69
3              Health Care     60
4   Consumer Discretionary     51
5         Consumer Staples     38
6                Utilities     31
7              Real Estate     31
8                Materials     26
9   Communication Services     23
10                  Energy     23

In [5]:
subindustry_counts = sp500_table['GICS Sub-Industry'].value_counts().reset_index()
subindustry_counts.columns = ['GICS Sub-Industry', 'Count']

display(subindustry_counts)

                                GICS Sub-Industry  Count
0                           Health Care Equipment     17
1                              Electric Utilities     15
2                                  Semiconductors     14
3    Industrial Machinery & Supplies & Components     14
4                             Aerospace & Defense     12
..                                            ...    ...
122                       Other Specialized REITs      1
123                 Computer & Electronics Retail      1
124                         Multi-Sector Holdings      1
125             Metal, Glass & Plastic Containers      1
126                                  Timber REITs      1

[127 rows x 2 columns]

In [6]:
# List of tickers and company names for companies in the Information Technology sector
it_companies = sp500_table.loc[sp500_table['GICS Sector'] == 'Information Technology', ['Symbol', 'Security']]
print("\nInformation Technology Companies:")
display(it_companies)

Information Technology Companies:

    Symbol                Security
4      ACN               Accenture
5     ADBE              Adobe Inc.
6      AMD  Advanced Micro Devices
12    AKAM     Akamai Technologies
33     APH                Amphenol
..     ...                     ...
453    TYL      Tyler Technologies
468   VRSN                Verisign
490    WDC         Western Digital
495   WDAY           Workday, Inc.
500   ZBRA      Zebra Technologies

[69 rows x 2 columns]

In [7]:
tickers_to_company = it_companies.set_index("Symbol")["Security"].to_dict()
tickers_to_company

{'ACN': 'Accenture',
 'ADBE': 'Adobe Inc.',
 'AMD': 'Advanced Micro Devices',
 'AKAM': 'Akamai Technologies',
 'APH': 'Amphenol',
 'ADI': 'Analog Devices',
 'ANSS': 'Ansys',
 'AAPL': 'Apple Inc.',
 'AMAT': 'Applied Materials',
 'ANET': 'Arista Networks',
 'ADSK': 'Autodesk',
 'AVGO': 'Broadcom',
 'CDNS': 'Cadence Design Systems',
 'CDW': 'CDW Corporation',
 'CSCO': 'Cisco',
 'CTSH': 'Cognizant',
 'GLW': 'Corning Inc.',
 'CRWD': 'CrowdStrike',
 'DELL': 'Dell Technologies',
 'ENPH': 'Enphase Energy',
 'EPAM': 'EPAM Systems',
 'FFIV': 'F5, Inc.',
 'FICO': 'Fair Isaac',
 'FSLR': 'First Solar',
 'FTNT': 'Fortinet',
 'IT': 'Gartner',
 'GEN': 'Gen Digital',
 'GDDY': 'GoDaddy',
 'HPE': 'Hewlett Packard Enterprise',
 'HPQ': 'HP Inc.',
 'IBM': 'IBM',
 'INTC': 'Intel',
 'INTU': 'Intuit',
 'JBL': 'Jabil',
 'JNPR': 'Juniper Networks',
 'KEYS': 'Keysight Technologies',
 'KLAC': 'KLA Corporation',
 'LRCX': 'Lam Research',
 'MCHP': 'Microchip Technology',
 'MU': 'Micron Technology',
 'MSFT': 'Microsoft',
 'MPWR': 'Monolithic Power Systems',
 'MSI': 'Motorola Solutions',
 'NTAP': 'NetApp',
 'NVDA': 'Nvidia',
 'NXPI': 'NXP Semiconductors',
 'ON': 'ON Semiconductor',
 'ORCL': 'Oracle Corporation',
 'PLTR': 'Palantir Technologies',
 'PANW': 'Palo Alto Networks',
 'PTC': 'PTC Inc.',
 'QCOM': 'Qualcomm',
 'ROP': 'Roper Technologies',
 'CRM': 'Salesforce',
 'STX': 'Seagate Technology',
 'NOW': 'ServiceNow',
 'SWKS': 'Skyworks Solutions',
 'SMCI': 'Supermicro',
 'SNPS': 'Synopsys',
 'TEL': 'TE Connectivity',
 'TDY': 'Teledyne Technologies',
 'TER': 'Teradyne',
 'TXN': 'Texas Instruments',
 'TRMB': 'Trimble Inc.',
 'TYL': 'Tyler Technologies',
 'VRSN': 'Verisign',
 'WDC': 'Western Digital',
 'WDAY': 'Workday, Inc.',
 'ZBRA': 'Zebra Technologies'}

In [8]:
it_tickers = it_companies['Symbol'].tolist()
it_tickers[-5:]

['TYL', 'VRSN', 'WDC', 'WDAY', 'ZBRA']

In [9]:
# it_tickers.append('^GSPC')
# it_tickers[-5:]

### Download stock data of IT companies 
- January 2018 to December 2022 (Covid period) & January 2007 to December 2010 (Economic crisis)

In [11]:
print("Downloading price data of the S&P 500 companies from 2018 to 2024 ...")
data0 = yf.download(it_tickers, start='2018-01-01', end='2024-12-31', threads=True, auto_adjust=True)
if data0.empty:
    raise ValueError("No price data downloaded.")

[                       0%                       ]

Downloading price data of the S&P 500 companies from 2018 to 2024 ...

[*********************100%***********************]  69 of 69 completed

In [12]:
# Create features
print(data0.shape)

(1760, 345)

In [13]:
unique_names = data0.columns.get_level_values(0).unique()
print(unique_names)

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [14]:
import pandas as pd

def save_columns_to_csv(col_names, df, folder_name):
    # Create the folder if it doesn't exist
    os.makedirs(folder_name, exist_ok=True)
    
    # Iterate through each unique column name
    for col in col_names:
        if col in df.columns:  # Ensure the column exists in the DataFrame
            df0 = df[col]
            df1 = df0.rename(columns=tickers_to_company)
            columns_with_nan = df1.columns[df1.isnull().any()].tolist()
            print("Columns with missing values:", columns_with_nan)
            df_cleaned = df1.drop(columns=columns_with_nan)
            df_cleaned.to_csv(f"{folder_name}/{col}.csv", index=True)
        else:
            print(f"Warning: Column '{col}' not found in DataFrame.")

save_columns_to_csv(unique_names, data0, "2018_to_2024")

Columns with missing values: ['CrowdStrike', 'Palantir Technologies']
Columns with missing values: ['CrowdStrike', 'Palantir Technologies']
Columns with missing values: ['CrowdStrike', 'Palantir Technologies']
Columns with missing values: ['CrowdStrike', 'Palantir Technologies']
Columns with missing values: ['CrowdStrike', 'Palantir Technologies']

In [16]:
import os
import pandas as pd

def load_csvs_to_dict(folder_name):
    data_dict = {}
    
    # Ensure the folder exists
    if not os.path.exists(folder_name):
        print(f"Error: Folder '{folder_name}' does not exist.")
        return data_dict

    # Iterate through the files in the folder
    for file in os.listdir(folder_name):
        if file.endswith(".csv"):  # Ensure only CSV files are processed
            file_path = os.path.join(folder_name, file)
            df_name = os.path.splitext(file)[0]  # Extract name without extension
            data_dict[df_name] = pd.read_csv(file_path, index_col=0)  # Read CSV with index
            
    return data_dict

# Test Code
folder = "2018_to_2024"
data_frames1 = load_csvs_to_dict(folder)

# Print the names of the DataFrames
print("Loaded DataFrames:", list(data_frames1.keys()))

# Display the first 5 rows and first 10 columns of each DataFrame
for name, df in data_frames1.items():
    print(f"\nDataFrame: {name}")
    display(df.iloc[:5, :5])  # Display first 5 rows and first 5 columns

Loaded DataFrames: ['Close', 'High', 'Low', 'Open', 'Volume']

DataFrame: Close

            Apple Inc.   Accenture  Adobe Inc.  Analog Devices    Autodesk
Date
2018-01-02   40.479851  138.659622  177.699997       78.786263  107.120003
2018-01-03   40.472790  139.299561  181.039993       79.763664  109.379997
2018-01-04   40.660782  140.948975  183.220001       79.676407  112.070000
2018-01-05   41.123726  142.111710  185.339996       79.999306  110.839996
2018-01-08   40.970974  143.247391  185.039993       80.138916  111.419998

DataFrame: High

            Apple Inc.   Accenture  Adobe Inc.  Analog Devices    Autodesk
Date
2018-01-02   40.489252  138.893975  177.800003       79.109159  107.160004
2018-01-03   41.017975  139.696145  181.889999       79.946928  109.779999
2018-01-04   40.764179  141.381606  184.059998       80.531637  112.209999
2018-01-05   41.210672  142.156779  185.899994       80.522917  113.349998
2018-01-08   41.267063  143.319498  185.600006       80.470535  111.739998

DataFrame: Low

            Apple Inc.   Accenture  Adobe Inc.  Analog Devices    Autodesk
Date
2018-01-02   39.774873  137.704221  175.259995       77.608135  104.389999
2018-01-03   40.409344  137.893498  177.699997       78.585537  106.989998
2018-01-04   40.437540  139.497843  181.639999       79.632770  109.230003
2018-01-05   40.665491  140.723677  183.539993       79.266251  110.410004
2018-01-08   40.872274  141.363627  183.830002       79.728752  109.040001

DataFrame: Open

            Apple Inc.   Accenture  Adobe Inc.  Analog Devices    Autodesk
Date
2018-01-02   39.986368  138.353175  175.850006       77.878666  105.339996
2018-01-03   40.543288  137.893498  178.000000       78.786252  107.000000
2018-01-04   40.545634  139.705144  181.929993       80.173839  110.129997
2018-01-05   40.757138  141.156309  185.000000       79.868401  113.070000
2018-01-08   40.970974  141.841328  184.949997       80.121459  110.419998

DataFrame: Volume

            Apple Inc.  Accenture  Adobe Inc.  Analog Devices  Autodesk
Date
2018-01-02   102223600    3061900     2432800         2343200   2040600
2018-01-03   118071600    2064200     2561200         2009600   1953800
2018-01-04    89738400    1777000     2211400         1879600   2158700
2018-01-05    94640000    1597600     2376500         1799100   2384200
2018-01-08    82271200    2616900     2088000         1907400   1782100

In [17]:
low_df = data0['Low']
print(low_df.shape)
low_df.head()

(1259, 70)

Ticker,AAPL,ACN,ADBE,ADI,ADSK,AKAM,AMAT,AMD,ANET,ANSS,...,TEL,TER,TRMB,TXN,TYL,VRSN,WDAY,WDC,ZBRA,^GSPC
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,39.774858,137.704221,175.259995,77.608143,104.389999,64.699997,47.132257,10.34,14.172500,147.029999,...,83.438620,41.450215,40.590000,85.577321,176.929993,109.320000,100.239998,54.288378,102.750000,2682.360107
2018-01-03,40.409348,137.893483,177.699997,78.585567,106.989998,65.099998,48.945040,11.36,14.472500,148.350006,...,84.200050,41.844693,41.139999,86.478112,178.809998,108.550003,102.019997,55.809650,103.480003,2697.770020
2018-01-04,40.437536,139.497858,181.639999,79.632755,109.230003,65.440002,49.671980,11.97,14.463125,151.550003,...,85.740596,42.364268,42.259998,88.484468,180.820007,110.599998,107.309998,54.363419,105.839996,2719.070068
2018-01-05,40.665483,140.723647,183.539993,79.266236,110.410004,65.459999,49.892837,11.66,14.651250,151.919998,...,86.626017,42.970430,42.849998,88.681004,183.860001,111.730003,108.300003,55.673216,108.010002,2727.919922
2018-01-08,40.872278,141.363567,183.830002,79.728767,109.040001,65.209999,50.582985,11.85,14.906875,151.660004,...,87.484824,43.586221,42.700001,88.779290,182.919998,112.269997,108.110001,54.991029,109.570000,2737.600098

In [18]:
import pandas as pd

def calculate_daily_returns(df):
    daily_returns = df.pct_change()
    return daily_returns

daily_returns_df = calculate_daily_returns(close_df)
daily_returns_df.shape

(1259, 70)

In [183]:
num_rows_with_nans = daily_returns_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

Number of rows with NaN values: 460

In [184]:
def generate_daily_return_dfs(df, window_sizes):
    return [calculate_daily_returns(df) for w in window_sizes]  # Calls daily return function for each window size

# Example usage
window_sizes = [5, 10, 20, 30]  # Define window sizes
daily_returns_dfs = generate_daily_return_dfs(close_df, window_sizes)

# Print the shape of each daily return DataFrame
for i, w in enumerate(window_sizes):
    print(f"Daily return DataFrame for window size {w}: {daily_returns_dfs[i].shape}")
    num_rows_with_nans = daily_returns_df.isna().any(axis=1).sum()
    print("# rows with NaN values:", num_rows_with_nans)

Daily return DataFrame for window size 5: (1528, 70)
# rows with NaN values: 460
Daily return DataFrame for window size 10: (1528, 70)
# rows with NaN values: 460
Daily return DataFrame for window size 20: (1528, 70)
# rows with NaN values: 460
Daily return DataFrame for window size 30: (1528, 70)
# rows with NaN values: 460

In [185]:
def calculate_rolling_std(df, window=30):
    rolling_std_df = df.rolling(window=window).std()  # Compute rolling std and fill NaNs with 0
    return rolling_std_df

# Example usage
rolling_std_df = calculate_rolling_std(close_df, window=30)
print(rolling_std_df.index)

DatetimeIndex(['2018-12-03', '2018-12-04', '2018-12-06', '2018-12-07',
               '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13',
               '2018-12-14', '2018-12-17',
               ...
               '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19',
               '2024-12-20', '2024-12-23', '2024-12-24', '2024-12-26',
               '2024-12-27', '2024-12-30'],
              dtype='datetime64[ns]', name='Date', length=1528, freq=None)

In [186]:
num_rows_with_nans = rolling_std_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

Number of rows with NaN values: 488

In [187]:
def generate_rolling_std_dfs(df, window_sizes):
    return [calculate_rolling_std(df, window=w) for w in window_sizes]

# Example usage
window_sizes = [5, 10, 20, 30]  # Define window sizes
rolling_std_dfs = generate_rolling_std_dfs(close_df, window_sizes)

# Print the shape of each rolling std DataFrame
for i, w in enumerate(window_sizes):
    print(f"Rolling std DataFrame for window size {w}: {rolling_std_dfs[i].shape}")
    num_rows_with_nans = rolling_std_dfs[i].isna().any(axis=1).sum()
    print("# rows with NaN values:", num_rows_with_nans)

Rolling std DataFrame for window size 5: (1528, 70)
# rows with NaN values: 463
Rolling std DataFrame for window size 10: (1528, 70)
# rows with NaN values: 468
Rolling std DataFrame for window size 20: (1528, 70)
# rows with NaN values: 478
Rolling std DataFrame for window size 30: (1528, 70)
# rows with NaN values: 488

In [188]:
import pandas as pd

def calculate_sma(df, window=30):
    sma_df = df.rolling(window=window).mean()  # Compute rolling mean and fill NaNs with 0
    return sma_df

# Example usage
sma_df = calculate_sma(close_df, window=30)
print(sma_df.shape)

(1528, 70)

In [189]:
num_rows_with_nans = sma_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

Number of rows with NaN values: 488

In [190]:
def generate_sma_dfs(df, window_sizes):
    return [calculate_sma(df, window=w) for w in window_sizes]

# Example usage
window_sizes = [5, 10, 20, 30]  # Define window sizes
sma_dfs = generate_sma_dfs(close_df, window_sizes)

# Print the shape of each SMA DataFrame
for i, w in enumerate(window_sizes):
    print(f"SMA DataFrame for window size {w}: {sma_dfs[i].shape}")
    num_rows_with_nans = sma_dfs[i].isna().any(axis=1).sum()
    print("# rows with NaN values:", num_rows_with_nans)

SMA DataFrame for window size 5: (1528, 70)
# rows with NaN values: 463
SMA DataFrame for window size 10: (1528, 70)
# rows with NaN values: 468
SMA DataFrame for window size 20: (1528, 70)
# rows with NaN values: 478
SMA DataFrame for window size 30: (1528, 70)
# rows with NaN values: 488

In [191]:
def calculate_ema(df, span=30):
    ema_df = df.ewm(span=span, adjust=False).mean()  # Compute EMA using exponential weighting
    return ema_df

ema_df = calculate_ema(close_df, span=30)
print(ema_df.index)
num_rows_with_nans = ema_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

DatetimeIndex(['2018-12-03', '2018-12-04', '2018-12-06', '2018-12-07',
               '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13',
               '2018-12-14', '2018-12-17',
               ...
               '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19',
               '2024-12-20', '2024-12-23', '2024-12-24', '2024-12-26',
               '2024-12-27', '2024-12-30'],
              dtype='datetime64[ns]', name='Date', length=1528, freq=None)
Number of rows with NaN values: 459

In [192]:
def generate_ema_dfs(df, window_sizes):
    return [calculate_ema(df, span=w) for w in window_sizes]

# Example usage
window_sizes = [5, 10, 20, 30]  # Define window sizes
ema_dfs = generate_ema_dfs(close_df, window_sizes)

# Print the shape of each EMA DataFrame
for i, w in enumerate(window_sizes):
    print(f"EMA DataFrame for span size {w}: {ema_dfs[i].shape}")
    num_rows_with_nans = ema_dfs[i].isna().any(axis=1).sum()
    print("# rows with NaN values:", num_rows_with_nans)

EMA DataFrame for span size 5: (1528, 70)
# rows with NaN values: 459
EMA DataFrame for span size 10: (1528, 70)
# rows with NaN values: 459
EMA DataFrame for span size 20: (1528, 70)
# rows with NaN values: 459
EMA DataFrame for span size 30: (1528, 70)
# rows with NaN values: 459

In [193]:
# Combine all DataFrames into a single list
all_dfs = daily_returns_dfs + rolling_std_dfs + sma_dfs + ema_dfs

# Print details for each DataFrame in the combined list
for i, df in enumerate(all_dfs):
    print(f"DataFrame {i+1}: Shape {df.shape}")

DataFrame 1: Shape (1528, 70)
DataFrame 2: Shape (1528, 70)
DataFrame 3: Shape (1528, 70)
DataFrame 4: Shape (1528, 70)
DataFrame 5: Shape (1528, 70)
DataFrame 6: Shape (1528, 70)
DataFrame 7: Shape (1528, 70)
DataFrame 8: Shape (1528, 70)
DataFrame 9: Shape (1528, 70)
DataFrame 10: Shape (1528, 70)
DataFrame 11: Shape (1528, 70)
DataFrame 12: Shape (1528, 70)
DataFrame 13: Shape (1528, 70)
DataFrame 14: Shape (1528, 70)
DataFrame 15: Shape (1528, 70)
DataFrame 16: Shape (1528, 70)

### Average True Range

In [194]:
import pandas as pd

def calculate_atr(close_df, high_df, low_df, window=14):
    # Previous day's close
    previous_close = close_df.shift(1)

    # True Range (TR) calculation for each stock (column-wise per company)
    tr = pd.DataFrame({
        ticker: pd.concat([
            (high_df[ticker] - low_df[ticker]),               # H - L
            (high_df[ticker] - previous_close[ticker]).abs(), # |H - Cp|
            (low_df[ticker] - previous_close[ticker]).abs()   # |L - Cp|
        ], axis=1).max(axis=1)  # Max of the three per row, maintaining stock structure
        for ticker in close_df.columns  # Iterate over each stock ticker
    }, index=close_df.index)  # Keep original date index

    # Calculate ATR using rolling mean
    atr = tr.rolling(window=window).mean()

    return atr

# Example usage
atr_df = calculate_atr(close_df, high_df, low_df, window=14)
print(atr_df.shape)

num_rows_with_nans = atr_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

(1528, 70)
Number of rows with NaN values: 472

In [195]:
import pandas as pd

def calculate_k_line(close_df, high_df, low_df, window=14):
    """
    Calculate the %K line (Fast Stochastic) for each stock.
    """
    # Calculate rolling highest high and lowest low over the window
    highest_high = high_df.rolling(window=window).max()
    lowest_low = low_df.rolling(window=window).min()

    # Compute %K Line
    k_line = ((close_df - lowest_low) / (highest_high - lowest_low)) * 100

    # Fill NaNs at the beginning (due to rolling window) with 0
    return k_line

# Example usage
k_line_df = calculate_k_line(close_df, high_df, low_df, window=14)
print(k_line_df.shape)
num_rows_with_nans = k_line_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

(1528, 70)
Number of rows with NaN values: 472

In [196]:
def calculate_d_line(k_line_df, smooth_window=3):
    """
    Calculate the %D line (Slow Stochastic) using SMA of %K.
    """
    # Compute %D Line as SMA of %K
    d_line = k_line_df.rolling(window=smooth_window).mean()

    # Fill NaNs at the beginning with 0
    return d_line

# Example usage
d_line_df = calculate_d_line(k_line_df, smooth_window=3)
print(d_line_df.shape)
num_rows_with_nans = d_line_df.isna().any(axis=1).sum()
print("Number of rows with NaN values:", num_rows_with_nans)

(1528, 70)
Number of rows with NaN values: 474

In [197]:
import pandas as pd

def calculate_rsi(return_df, window=14):
    """
    Calculate the Relative Strength Index (RSI) for each stock.
    """
    # Separate gains and losses
    gains = return_df.where(return_df > 0, 0)  # Keep only positive returns
    losses = -return_df.where(return_df < 0, 0)  # Convert negative returns to positive for averaging

    # Compute moving averages of gains and losses
    avg_gain = gains.rolling(window=window).mean()
    avg_loss = losses.rolling(window=window).mean()

    # Compute Relative Strength (RS)
    rs = avg_gain / avg_loss

    # Compute RSI
    rsi = 100 - (100 / (1 + rs))

    return rsi

# Example usage
rsi_df = calculate_rsi(daily_returns_df, window=14)
print(rsi_df.shape)

# Count rows with NaN values
num_rows_with_nans = rsi_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in RSI: {num_rows_with_nans}")

(1528, 70)
Number of rows with NaN values in RSI: 460

In [198]:
def calculate_ppo(close_df, short_window=12, long_window=26):
    """
    Calculate the Percentage Price Oscillator (PPO) for each stock.
    """
    short_ma = calculate_ema(close_df, span=short_window)  # Short-term EMA
    long_ma = calculate_ema(close_df, span=long_window)  # Long-term EMA

    ppo = ((short_ma - long_ma) / long_ma) * 100  # PPO formula
    return ppo

# Example usage
ppo_df = calculate_ppo(close_df, short_window=12, long_window=26)
print(ppo_df.shape)

# Count rows with NaN values
num_rows_with_nans = ppo_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in RSI: {num_rows_with_nans}")

(1528, 70)
Number of rows with NaN values in RSI: 459

In [199]:
def calculate_ppo_signal(ppo_df, signal_window=9):
    """
    Calculate the PPO signal line using a moving average of PPO.
    """
    signal_line = calculate_ema(ppo_df, span=signal_window)  # EMA of PPO
    return signal_line

# Example usage
ppo_signal_df = calculate_ppo_signal(ppo_df, signal_window=9)
print(ppo_signal_df.shape)

# Count rows with NaN values
num_rows_with_nans = ppo_signal_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in RSI: {num_rows_with_nans}")

(1528, 70)
Number of rows with NaN values in RSI: 459

In [200]:
def calculate_ppo_histogram(ppo_df, ppo_signal_df):
    """
    Calculate the PPO Histogram.
    """
    ppo_histogram = ppo_df - ppo_signal_df  # Histogram = PPO - Signal Line
    return ppo_histogram

# Example usage
ppo_histogram_df = calculate_ppo_histogram(ppo_df, ppo_signal_df)
print(ppo_histogram_df.shape)

# Count rows with NaN values
num_rows_with_nans = ppo_histogram_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in RSI: {num_rows_with_nans}")

(1528, 70)
Number of rows with NaN values in RSI: 459

In [201]:
def calculate_macd(close_df, short_window=12, long_window=26):
    """
    Calculate the MACD (Moving Average Convergence/Divergence) for each stock.
    """
    short_ma = calculate_ema(close_df, span=short_window)  # Short-term EMA
    long_ma = calculate_ema(close_df, span=long_window)  # Long-term EMA

    macd = short_ma - long_ma  # MACD formula
    return macd

# Example usage
macd_df = calculate_macd(close_df, short_window=12, long_window=26)

# Print number of rows with NaN values
num_rows_with_nans = macd_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in MACD: {num_rows_with_nans}")

print(macd_df.shape)

Number of rows with NaN values in MACD: 459
(1528, 70)

In [202]:
import pandas as pd

def calculate_sharpe_ratio(return_df, window=30, risk_free_rate=0):
    """
    Calculate the Sharpe Ratio over a rolling window for each stock.
    """
    # Compute rolling mean and standard deviation of returns
    mean_return = return_df.rolling(window=window).mean()
    std_return = return_df.rolling(window=window).std()

    # Compute Sharpe Ratio
    sharpe_ratio = (mean_return - risk_free_rate) / std_return

    return sharpe_ratio

# Example usage
sharpe_ratio_df = calculate_sharpe_ratio(daily_returns_df, window=30)

# Print number of rows with NaN values
num_rows_with_nans = sharpe_ratio_df.isna().any(axis=1).sum()
print(f"Number of rows with NaN values in Sharpe Ratio: {num_rows_with_nans}")

print(sharpe_ratio_df.shape)

Number of rows with NaN values in Sharpe Ratio: 489
(1528, 70)

In [203]:
import pandas as pd

def calculate_obv(close_df, volume_df):
    """
    Calculate On-Balance Volume (OBV).
    """
    obv = volume_df.copy()
    obv.iloc[0] = 0  # Start OBV at zero
    obv[close_df > close_df.shift(1)] = volume_df  # Add volume if price increases
    obv[close_df < close_df.shift(1)] = -volume_df  # Subtract volume if price decreases
    obv[close_df == close_df.shift(1)] = 0  # No change if price is the same
    obv = obv.cumsum()
    print("OBV Shape:", obv.shape)
    print("OBV Rows with NaN:", obv.isna().any(axis=1).sum())
    return obv

def calculate_vroc(volume_df, window=14):
    """
    Calculate Volume Rate of Change (VROC).
    """
    vroc = ((volume_df - volume_df.shift(window)) / volume_df.shift(window)) * 100
    print("VROC Shape:", vroc.shape)
    print("VROC Rows with NaN:", vroc.isna().any(axis=1).sum())
    return vroc

def calculate_vwap(close_df, high_df, low_df, volume_df):
    """
    Calculate Volume Weighted Average Price (VWAP).
    """
    typical_price = (high_df + low_df + close_df) / 3
    vwap = (typical_price * volume_df).cumsum() / volume_df.cumsum()
    print("VWAP Shape:", vwap.shape)
    print("VWAP Rows with NaN:", vwap.isna().any(axis=1).sum())
    return vwap

def calculate_mfi(close_df, high_df, low_df, volume_df, window=14):
    """
    Calculate Money Flow Index (MFI).
    """
    typical_price = (high_df + low_df + close_df) / 3
    money_flow = typical_price * volume_df
    positive_flow = money_flow.where(typical_price > typical_price.shift(1), 0)
    negative_flow = money_flow.where(typical_price < typical_price.shift(1), 0)
    money_flow_ratio = positive_flow.rolling(window=window).sum() / negative_flow.rolling(window=window).sum()
    mfi = 100 - (100 / (1 + money_flow_ratio))
    print("MFI Shape:", mfi.shape)
    print("MFI Rows with NaN:", mfi.isna().any(axis=1).sum())
    return mfi

obv_df = calculate_obv(close_df, volume_df)
vroc_df = calculate_vroc(volume_df, window=14)
vwap_df = calculate_vwap(close_df, high_df, low_df, volume_df)
mfi_df = calculate_mfi(close_df, high_df, low_df, volume_df, window=14)

OBV Shape: (1528, 70)
OBV Rows with NaN: 458
VROC Shape: (1528, 70)
VROC Rows with NaN: 473
VWAP Shape: (1528, 70)
VWAP Rows with NaN: 459
MFI Shape: (1528, 70)
MFI Rows with NaN: 460

### Prepare input for LSTM

In [204]:
all_dfs = [close_df, volume_df, high_df, low_df] + all_dfs + [rsi_df, atr_df, ppo_df, macd_df, sharpe_ratio_df, obv_df, vroc_df, vwap_df, mfi_df]

# Print details for each DataFrame in the combined list
for i, df in enumerate(all_dfs):
    print(f"DataFrame {i+1}: Shape {df.shape}")

DataFrame 1: Shape (1528, 70)
DataFrame 2: Shape (1528, 70)
DataFrame 3: Shape (1528, 70)
DataFrame 4: Shape (1528, 70)
DataFrame 5: Shape (1528, 70)
DataFrame 6: Shape (1528, 70)
DataFrame 7: Shape (1528, 70)
DataFrame 8: Shape (1528, 70)
DataFrame 9: Shape (1528, 70)
DataFrame 10: Shape (1528, 70)
DataFrame 11: Shape (1528, 70)
DataFrame 12: Shape (1528, 70)
DataFrame 13: Shape (1528, 70)
DataFrame 14: Shape (1528, 70)
DataFrame 15: Shape (1528, 70)
DataFrame 16: Shape (1528, 70)
DataFrame 17: Shape (1528, 70)
DataFrame 18: Shape (1528, 70)
DataFrame 19: Shape (1528, 70)
DataFrame 20: Shape (1528, 70)
DataFrame 21: Shape (1528, 70)
DataFrame 22: Shape (1528, 70)
DataFrame 23: Shape (1528, 70)
DataFrame 24: Shape (1528, 70)
DataFrame 25: Shape (1528, 70)
DataFrame 26: Shape (1528, 70)
DataFrame 27: Shape (1528, 70)
DataFrame 28: Shape (1528, 70)
DataFrame 29: Shape (1528, 70)

In [205]:
def drop_rows_with_missing_values(df_list):
    
    combined_na_mask = pd.concat(df_list, axis=1).isna().any(axis=1)
    dropped_rows = combined_na_mask[combined_na_mask].index.tolist()
    
    # Drop missing rows from all DataFrames
    cleaned_dfs = [df.drop(index=dropped_rows) for df in df_list]
    
    print(f"Number of rows dropped: {len(dropped_rows)}")
    
    return cleaned_dfs, dropped_rows

cleaned_dfs, dropped_dates = drop_rows_with_missing_values(all_dfs)
dropped_dates

Number of rows dropped: 489

[Timestamp('2018-12-03 00:00:00'),
 Timestamp('2018-12-04 00:00:00'),
 Timestamp('2018-12-06 00:00:00'),
 Timestamp('2018-12-07 00:00:00'),
 Timestamp('2018-12-10 00:00:00'),
 Timestamp('2018-12-11 00:00:00'),
 Timestamp('2018-12-12 00:00:00'),
 Timestamp('2018-12-13 00:00:00'),
 Timestamp('2018-12-14 00:00:00'),
 Timestamp('2018-12-17 00:00:00'),
 Timestamp('2018-12-18 00:00:00'),
 Timestamp('2018-12-19 00:00:00'),
 Timestamp('2018-12-20 00:00:00'),
 Timestamp('2018-12-21 00:00:00'),
 Timestamp('2018-12-24 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-02 00:00:00'),
 Timestamp('2019-01-03 00:00:00'),
 Timestamp('2019-01-04 00:00:00'),
 Timestamp('2019-01-07 00:00:00'),
 Timestamp('2019-01-08 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-01-11 00:00:00'),
 Timestamp('2019-01-14 00:00:00'),
 Timestamp('2019-01-15 00:00:00'),
 Timestamp('2019-01-16 00:00:00'),
 Timestamp('2019-01-17 00:00:00'),
 Timestamp('2019-01-18 00:00:00'),
 Timestamp('2019-01-22 00:00:00'),
 Timestamp('2019-01-23 00:00:00'),
 Timestamp('2019-01-24 00:00:00'),
 Timestamp('2019-01-25 00:00:00'),
 Timestamp('2019-01-28 00:00:00'),
 Timestamp('2019-01-29 00:00:00'),
 Timestamp('2019-01-30 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-02-04 00:00:00'),
 Timestamp('2019-02-05 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2019-02-07 00:00:00'),
 Timestamp('2019-02-08 00:00:00'),
 Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-12 00:00:00'),
 Timestamp('2019-02-13 00:00:00'),
 Timestamp('2019-02-14 00:00:00'),
 Timestamp('2019-02-15 00:00:00'),
 Timestamp('2019-02-19 00:00:00'),
 Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-02-21 00:00:00'),
 Timestamp('2019-02-22 00:00:00'),
 Timestamp('2019-02-25 00:00:00'),
 Timestamp('2019-02-26 00:00:00'),
 Timestamp('2019-02-27 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-04 00:00:00'),
 Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-07 00:00:00'),
 Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-12 00:00:00'),
 Timestamp('2019-03-13 00:00:00'),
 Timestamp('2019-03-14 00:00:00'),
 Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-19 00:00:00'),
 Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-21 00:00:00'),
 Timestamp('2019-03-22 00:00:00'),
 Timestamp('2019-03-25 00:00:00'),
 Timestamp('2019-03-26 00:00:00'),
 Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-02 00:00:00'),
 Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-04 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-09 00:00:00'),
 Timestamp('2019-04-10 00:00:00'),
 Timestamp('2019-04-11 00:00:00'),
 Timestamp('2019-04-12 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-16 00:00:00'),
 Timestamp('2019-04-17 00:00:00'),
 Timestamp('2019-04-18 00:00:00'),
 Timestamp('2019-04-22 00:00:00'),
 Timestamp('2019-04-23 00:00:00'),
 Timestamp('2019-04-24 00:00:00'),
 Timestamp('2019-04-25 00:00:00'),
 Timestamp('2019-04-26 00:00:00'),
 Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-06 00:00:00'),
 Timestamp('2019-05-07 00:00:00'),
 Timestamp('2019-05-08 00:00:00'),
 Timestamp('2019-05-09 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-13 00:00:00'),
 Timestamp('2019-05-14 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-05-16 00:00:00'),
 Timestamp('2019-05-17 00:00:00'),
 Timestamp('2019-05-20 00:00:00'),
 Timestamp('2019-05-21 00:00:00'),
 Timestamp('2019-05-22 00:00:00'),
 Timestamp('2019-05-23 00:00:00'),
 Timestamp('2019-05-24 00:00:00'),
 Timestamp('2019-05-28 00:00:00'),
 Timestamp('2019-05-29 00:00:00'),
 Timestamp('2019-05-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-05 00:00:00'),
 Timestamp('2019-06-06 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-11 00:00:00'),
 Timestamp('2019-06-12 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-06-20 00:00:00'),
 Timestamp('2019-06-21 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2019-06-25 00:00:00'),
 Timestamp('2019-06-26 00:00:00'),
 Timestamp('2019-06-27 00:00:00'),
 Timestamp('2019-06-28 00:00:00'),
 Timestamp('2019-07-01 00:00:00'),
 Timestamp('2019-07-02 00:00:00'),
 Timestamp('2019-07-03 00:00:00'),
 Timestamp('2019-07-05 00:00:00'),
 Timestamp('2019-07-08 00:00:00'),
 Timestamp('2019-07-09 00:00:00'),
 Timestamp('2019-07-10 00:00:00'),
 Timestamp('2019-07-11 00:00:00'),
 Timestamp('2019-07-12 00:00:00'),
 Timestamp('2019-07-15 00:00:00'),
 Timestamp('2019-07-16 00:00:00'),
 Timestamp('2019-07-17 00:00:00'),
 Timestamp('2019-07-18 00:00:00'),
 Timestamp('2019-07-19 00:00:00'),
 Timestamp('2019-07-22 00:00:00'),
 Timestamp('2019-07-23 00:00:00'),
 Timestamp('2019-07-24 00:00:00'),
 Timestamp('2019-07-25 00:00:00'),
 Timestamp('2019-07-26 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-05 00:00:00'),
 Timestamp('2019-08-06 00:00:00'),
 Timestamp('2019-08-07 00:00:00'),
 Timestamp('2019-08-08 00:00:00'),
 Timestamp('2019-08-09 00:00:00'),
 Timestamp('2019-08-12 00:00:00'),
 Timestamp('2019-08-13 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-08-15 00:00:00'),
 Timestamp('2019-08-16 00:00:00'),
 Timestamp('2019-08-19 00:00:00'),
 Timestamp('2019-08-20 00:00:00'),
 Timestamp('2019-08-21 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2019-08-23 00:00:00'),
 Timestamp('2019-08-26 00:00:00'),
 Timestamp('2019-08-27 00:00:00'),
 Timestamp('2019-08-28 00:00:00'),
 Timestamp('2019-08-29 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-04 00:00:00'),
 Timestamp('2019-09-05 00:00:00'),
 Timestamp('2019-09-06 00:00:00'),
 Timestamp('2019-09-09 00:00:00'),
 Timestamp('2019-09-10 00:00:00'),
 Timestamp('2019-09-11 00:00:00'),
 Timestamp('2019-09-12 00:00:00'),
 Timestamp('2019-09-13 00:00:00'),
 Timestamp('2019-09-16 00:00:00'),
 Timestamp('2019-09-17 00:00:00'),
 Timestamp('2019-09-18 00:00:00'),
 Timestamp('2019-09-19 00:00:00'),
 Timestamp('2019-09-20 00:00:00'),
 Timestamp('2019-09-23 00:00:00'),
 Timestamp('2019-09-24 00:00:00'),
 Timestamp('2019-09-25 00:00:00'),
 Timestamp('2019-09-26 00:00:00'),
 Timestamp('2019-09-27 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-10-02 00:00:00'),
 Timestamp('2019-10-03 00:00:00'),
 Timestamp('2019-10-04 00:00:00'),
 Timestamp('2019-10-07 00:00:00'),
 Timestamp('2019-10-08 00:00:00'),
 Timestamp('2019-10-09 00:00:00'),
 Timestamp('2019-10-10 00:00:00'),
 Timestamp('2019-10-11 00:00:00'),
 Timestamp('2019-10-14 00:00:00'),
 Timestamp('2019-10-15 00:00:00'),
 Timestamp('2019-10-16 00:00:00'),
 Timestamp('2019-10-17 00:00:00'),
 Timestamp('2019-10-18 00:00:00'),
 Timestamp('2019-10-21 00:00:00'),
 Timestamp('2019-10-22 00:00:00'),
 Timestamp('2019-10-23 00:00:00'),
 Timestamp('2019-10-24 00:00:00'),
 Timestamp('2019-10-25 00:00:00'),
 Timestamp('2019-10-28 00:00:00'),
 Timestamp('2019-10-29 00:00:00'),
 Timestamp('2019-10-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-01 00:00:00'),
 Timestamp('2019-11-04 00:00:00'),
 Timestamp('2019-11-05 00:00:00'),
 Timestamp('2019-11-06 00:00:00'),
 Timestamp('2019-11-07 00:00:00'),
 Timestamp('2019-11-08 00:00:00'),
 Timestamp('2019-11-11 00:00:00'),
 Timestamp('2019-11-12 00:00:00'),
 Timestamp('2019-11-13 00:00:00'),
 Timestamp('2019-11-14 00:00:00'),
 Timestamp('2019-11-15 00:00:00'),
 Timestamp('2019-11-18 00:00:00'),
 Timestamp('2019-11-19 00:00:00'),
 Timestamp('2019-11-20 00:00:00'),
 Timestamp('2019-11-21 00:00:00'),
 Timestamp('2019-11-22 00:00:00'),
 Timestamp('2019-11-25 00:00:00'),
 Timestamp('2019-11-26 00:00:00'),
 Timestamp('2019-11-27 00:00:00'),
 Timestamp('2019-11-29 00:00:00'),
 Timestamp('2019-12-02 00:00:00'),
 Timestamp('2019-12-03 00:00:00'),
 Timestamp('2019-12-04 00:00:00'),
 Timestamp('2019-12-05 00:00:00'),
 Timestamp('2019-12-06 00:00:00'),
 Timestamp('2019-12-09 00:00:00'),
 Timestamp('2019-12-10 00:00:00'),
 Timestamp('2019-12-11 00:00:00'),
 Timestamp('2019-12-12 00:00:00'),
 Timestamp('2019-12-13 00:00:00'),
 Timestamp('2019-12-16 00:00:00'),
 Timestamp('2019-12-17 00:00:00'),
 Timestamp('2019-12-18 00:00:00'),
 Timestamp('2019-12-19 00:00:00'),
 Timestamp('2019-12-20 00:00:00'),
 Timestamp('2019-12-23 00:00:00'),
 Timestamp('2019-12-24 00:00:00'),
 Timestamp('2019-12-26 00:00:00'),
 Timestamp('2019-12-27 00:00:00'),
 Timestamp('2019-12-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00'),
 Timestamp('2020-01-13 00:00:00'),
 Timestamp('2020-01-14 00:00:00'),
 Timestamp('2020-01-15 00:00:00'),
 Timestamp('2020-01-16 00:00:00'),
 Timestamp('2020-01-17 00:00:00'),
 Timestamp('2020-01-21 00:00:00'),
 Timestamp('2020-01-22 00:00:00'),
 Timestamp('2020-01-23 00:00:00'),
 Timestamp('2020-01-24 00:00:00'),
 Timestamp('2020-01-27 00:00:00'),
 Timestamp('2020-01-28 00:00:00'),
 Timestamp('2020-01-29 00:00:00'),
 Timestamp('2020-01-30 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-03 00:00:00'),
 Timestamp('2020-02-04 00:00:00'),
 Timestamp('2020-02-05 00:00:00'),
 Timestamp('2020-02-06 00:00:00'),
 Timestamp('2020-02-07 00:00:00'),
 Timestamp('2020-02-10 00:00:00'),
 Timestamp('2020-02-11 00:00:00'),
 Timestamp('2020-02-12 00:00:00'),
 Timestamp('2020-02-13 00:00:00'),
 Timestamp('2020-02-14 00:00:00'),
 Timestamp('2020-02-18 00:00:00'),
 Timestamp('2020-02-19 00:00:00'),
 Timestamp('2020-02-20 00:00:00'),
 Timestamp('2020-02-21 00:00:00'),
 Timestamp('2020-02-24 00:00:00'),
 Timestamp('2020-02-25 00:00:00'),
 Timestamp('2020-02-26 00:00:00'),
 Timestamp('2020-02-27 00:00:00'),
 Timestamp('2020-02-28 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-03-03 00:00:00'),
 Timestamp('2020-03-04 00:00:00'),
 Timestamp('2020-03-05 00:00:00'),
 Timestamp('2020-03-06 00:00:00'),
 Timestamp('2020-03-09 00:00:00'),
 Timestamp('2020-03-10 00:00:00'),
 Timestamp('2020-03-11 00:00:00'),
 Timestamp('2020-03-12 00:00:00'),
 Timestamp('2020-03-13 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-03-17 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2020-03-19 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-25 00:00:00'),
 Timestamp('2020-03-26 00:00:00'),
 Timestamp('2020-03-27 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-04-02 00:00:00'),
 Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-04-09 00:00:00'),
 Timestamp('2020-04-13 00:00:00'),
 Timestamp('2020-04-14 00:00:00'),
 Timestamp('2020-04-15 00:00:00'),
 Timestamp('2020-04-16 00:00:00'),
 Timestamp('2020-04-17 00:00:00'),
 Timestamp('2020-04-20 00:00:00'),
 Timestamp('2020-04-21 00:00:00'),
 Timestamp('2020-04-22 00:00:00'),
 Timestamp('2020-04-23 00:00:00'),
 Timestamp('2020-04-24 00:00:00'),
 Timestamp('2020-04-27 00:00:00'),
 Timestamp('2020-04-28 00:00:00'),
 Timestamp('2020-04-29 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-07 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-11 00:00:00'),
 Timestamp('2020-05-12 00:00:00'),
 Timestamp('2020-05-13 00:00:00'),
 Timestamp('2020-05-14 00:00:00'),
 Timestamp('2020-05-15 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-05-26 00:00:00'),
 Timestamp('2020-05-27 00:00:00'),
 Timestamp('2020-05-28 00:00:00'),
 Timestamp('2020-05-29 00:00:00'),
 Timestamp('2020-06-01 00:00:00'),
 Timestamp('2020-06-02 00:00:00'),
 Timestamp('2020-06-03 00:00:00'),
 Timestamp('2020-06-04 00:00:00'),
 Timestamp('2020-06-05 00:00:00'),
 Timestamp('2020-06-08 00:00:00'),
 Timestamp('2020-06-09 00:00:00'),
 Timestamp('2020-06-10 00:00:00'),
 Timestamp('2020-06-11 00:00:00'),
 Timestamp('2020-06-12 00:00:00'),
 Timestamp('2020-06-15 00:00:00'),
 Timestamp('2020-06-16 00:00:00'),
 Timestamp('2020-06-17 00:00:00'),
 Timestamp('2020-06-18 00:00:00'),
 Timestamp('2020-06-19 00:00:00'),
 Timestamp('2020-06-22 00:00:00'),
 Timestamp('2020-06-23 00:00:00'),
 Timestamp('2020-06-24 00:00:00'),
 Timestamp('2020-06-25 00:00:00'),
 Timestamp('2020-06-26 00:00:00'),
 Timestamp('2020-06-29 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-01 00:00:00'),
 Timestamp('2020-07-02 00:00:00'),
 Timestamp('2020-07-06 00:00:00'),
 Timestamp('2020-07-07 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-07-10 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-07-14 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-17 00:00:00'),
 Timestamp('2020-07-20 00:00:00'),
 Timestamp('2020-07-21 00:00:00'),
 Timestamp('2020-07-22 00:00:00'),
 Timestamp('2020-07-23 00:00:00'),
 Timestamp('2020-07-24 00:00:00'),
 Timestamp('2020-07-27 00:00:00'),
 Timestamp('2020-07-28 00:00:00'),
 Timestamp('2020-07-29 00:00:00'),
 Timestamp('2020-07-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-03 00:00:00'),
 Timestamp('2020-08-04 00:00:00'),
 Timestamp('2020-08-05 00:00:00'),
 Timestamp('2020-08-06 00:00:00'),
 Timestamp('2020-08-07 00:00:00'),
 Timestamp('2020-08-10 00:00:00'),
 Timestamp('2020-08-11 00:00:00'),
 Timestamp('2020-08-12 00:00:00'),
 Timestamp('2020-08-13 00:00:00'),
 Timestamp('2020-08-14 00:00:00'),
 Timestamp('2020-08-17 00:00:00'),
 Timestamp('2020-08-18 00:00:00'),
 Timestamp('2020-08-19 00:00:00'),
 Timestamp('2020-08-20 00:00:00'),
 Timestamp('2020-08-21 00:00:00'),
 Timestamp('2020-08-24 00:00:00'),
 Timestamp('2020-08-25 00:00:00'),
 Timestamp('2020-08-26 00:00:00'),
 Timestamp('2020-08-27 00:00:00'),
 Timestamp('2020-08-28 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-01 00:00:00'),
 Timestamp('2020-09-02 00:00:00'),
 Timestamp('2020-09-03 00:00:00'),
 Timestamp('2020-09-04 00:00:00'),
 Timestamp('2020-09-08 00:00:00'),
 Timestamp('2020-09-09 00:00:00'),
 Timestamp('2020-09-10 00:00:00'),
 Timestamp('2020-09-11 00:00:00'),
 Timestamp('2020-09-14 00:00:00'),
 Timestamp('2020-09-15 00:00:00'),
 Timestamp('2020-09-16 00:00:00'),
 Timestamp('2020-09-17 00:00:00'),
 Timestamp('2020-09-18 00:00:00'),
 Timestamp('2020-09-21 00:00:00'),
 Timestamp('2020-09-22 00:00:00'),
 Timestamp('2020-09-23 00:00:00'),
 Timestamp('2020-09-24 00:00:00'),
 Timestamp('2020-09-25 00:00:00'),
 Timestamp('2020-09-28 00:00:00'),
 Timestamp('2020-09-29 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-01 00:00:00'),
 Timestamp('2020-10-02 00:00:00'),
 Timestamp('2020-10-05 00:00:00'),
 Timestamp('2020-10-06 00:00:00'),
 Timestamp('2020-10-07 00:00:00'),
 Timestamp('2020-10-08 00:00:00'),
 Timestamp('2020-10-09 00:00:00'),
 Timestamp('2020-10-12 00:00:00'),
 Timestamp('2020-10-13 00:00:00'),
 Timestamp('2020-10-14 00:00:00'),
 Timestamp('2020-10-15 00:00:00'),
 Timestamp('2020-10-16 00:00:00'),
 Timestamp('2020-10-19 00:00:00'),
 Timestamp('2020-10-20 00:00:00'),
 Timestamp('2020-10-21 00:00:00'),
 Timestamp('2020-10-22 00:00:00'),
 Timestamp('2020-10-23 00:00:00'),
 Timestamp('2020-10-26 00:00:00'),
 Timestamp('2020-10-27 00:00:00'),
 Timestamp('2020-10-28 00:00:00'),
 Timestamp('2020-10-29 00:00:00'),
 Timestamp('2020-10-30 00:00:00'),
 Timestamp('2020-11-02 00:00:00'),
 Timestamp('2020-11-03 00:00:00'),
 Timestamp('2020-11-04 00:00:00'),
 Timestamp('2020-11-05 00:00:00'),
 Timestamp('2020-11-06 00:00:00'),
 Timestamp('2020-11-09 00:00:00'),
 Timestamp('2020-11-10 00:00:00')]

In [206]:
def save_dataframes_to_csv(df_list):
    os.makedirs("stored_dfs", exist_ok=True)  # Create the directory if it doesn't exist
    i = 1
    for df in df_list:
        filename = f"stored_dfs/df{i}.csv"
        df.to_csv(filename, index=True)
        print(f"Saved df{i} to {filename}")
        i = i + 1

save_dataframes_to_csv(cleaned_dfs)

Saved df1 to stored_dfs/df1.csv
Saved df2 to stored_dfs/df2.csv
Saved df3 to stored_dfs/df3.csv
Saved df4 to stored_dfs/df4.csv
Saved df5 to stored_dfs/df5.csv
Saved df6 to stored_dfs/df6.csv
Saved df7 to stored_dfs/df7.csv
Saved df8 to stored_dfs/df8.csv
Saved df9 to stored_dfs/df9.csv
Saved df10 to stored_dfs/df10.csv
Saved df11 to stored_dfs/df11.csv
Saved df12 to stored_dfs/df12.csv
Saved df13 to stored_dfs/df13.csv
Saved df14 to stored_dfs/df14.csv
Saved df15 to stored_dfs/df15.csv
Saved df16 to stored_dfs/df16.csv
Saved df17 to stored_dfs/df17.csv
Saved df18 to stored_dfs/df18.csv
Saved df19 to stored_dfs/df19.csv
Saved df20 to stored_dfs/df20.csv
Saved df21 to stored_dfs/df21.csv
Saved df22 to stored_dfs/df22.csv
Saved df23 to stored_dfs/df23.csv
Saved df24 to stored_dfs/df24.csv
Saved df25 to stored_dfs/df25.csv
Saved df26 to stored_dfs/df26.csv
Saved df27 to stored_dfs/df27.csv
Saved df28 to stored_dfs/df28.csv
Saved df29 to stored_dfs/df29.csv